.all {
	display: flex;
	flex-direction: column;
	font-family: lucinda console, monospace;
	color: darkslategray;
}

img {
	height: 600px;
	width: 600px;
	position: fixed;
	top: 150px;
	left: 200px;
	z-index: -1;
}

.one {
	
	font-size: 100px;
	line-height: 50px;
	font-weight: bold;
	position: fixed;
	top: 20px;
	left: 0px;
	z-index: 1;
}

.two {
	
		background-color: #ABEEFF;
	height: 700px;
	width: 500px;
	position: fixed;
	right: 50px;
	top: 70px;
	box-sizing: border-box;
	animation-name: movein, fadein;
	animation-duration: 1s;
}



@keyframes fadein {
	from {opacity: 0;}
	to   {opacity: 1;}
}

@keyframes movein {
	from {right: 200px;}
	to {right: 50px;}
}

a {
	color: darkslategray;
}

a:hover {
	color: whitesmoke;
}