.all {
	display: flex;
	flex-direction: column;
	font-family: lucinda console, monospace;
	color: darkslategray;
}


.one {
	
	font-size: 100px;
	line-height: 0px;

}

.two {
	
		background-color: #fce37e;
	height: 700px;
	width: 500px;
	position: fixed;
	right: 50px;
	top: 70px;
	box-sizing: border-box;
	animation-name: movein, fadein;
	animation-duration: 1s;
	animation-delay: .5s;
}



@keyframes fadein {
	from {opacity: 0;}
	to   {opacity: 1;}
}

@keyframes movein {
	from {right: 200px;}
	to {right: 50px;}
}

a {
	color: darkslategray;
}

a:hover {
	color: whitesmoke;
}