.all {
	display: flex;
	flex-direction: column;
	font-family: lucinda console, monospace;
}




.one {
	
	font-weight: bold;
	font-size: 100px;
	line-height: 50px;
	color: darkslategray;
	

}

.two {
	
	background-color: #fce37e;
	height: 700px;
	width: 500px;
	position: fixed;
	right: 50px;
	top: 70px;
	box-sizing: border-box;
	animation-name: fadein, movein;
	animation-duration: 1s;
	animation-delay: .5s;
}

@keyframes fadein {
	from {opacity: 0;}
	to   {opacity: 1;}
}

@keyframes movein {
	from {bottom: 70px;}
	to   {bottom: 50px;}
}

a {
	color: blue;
}

a:hover {
	color: teal;
}