.all {
	display: flex;
	flex-direction: column;
}




.one {
	letter-spacing: 5px;
	color: hotpink;
	font-family: trebuchet ms;
	font-size: 50px;
	line-height: 20px;
	background-color: pink;
	height: 100px;
	width: 400px;
	border: 5px solid hotpink;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	

}

.two {
	font-family: arial;
	font-size: 20px;
	letter-spacing: 2px;
	color:blue;
	position: fixed;
	bottom: 50px;
	animation-name: fadein, movein;
	animation-duration: 1s;
	animation-delay: .5s;
}

@keyframes fadein {
	from {opacity: 0;}
	to   {opacity: 1;}
}

@keyframes movein {
	from {bottom: 70px;}
	to   {bottom: 50px;}
}

a {
	color: blue;
}

a:hover {
	color: teal;
}