.all {
	display: flex;
	flex-direction: column;
	font-family: lucinda console, monospace;
}




.one {
	
	font-weight: bold;
	font-size: 100px;
	line-height: 50px;
	color: darkslategray;
	position: fixed;
	top: 20px;
	left: 0px;
	

}

.two {
	
	background-color: #FFE7AB;
	height: 700px;
	width: 500px;
	position: fixed;
	right: 50px;
	top: 70px;
	box-sizing: border-box;
	animation-name: fadein, movein;
	animation-duration: 1s;
}

@keyframes fadein {
	from {opacity: 0;}
	to   {opacity: 1;}
}

@keyframes movein {
	from {right: 200px;}
	to   {right: 50px;}
}

a {
	color: darkslategray;
}

a:hover {
	color: whitesmoke;
}