
.row-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    font-family: lucinda console, monospace;
}

#chili {
        
    background-color: #ABFFE1;
    width: 20vw;
    height: 50vh;
    display: flex;
    align-items: center;    
    justify-content: center;
}



#chicken-salad {
    background-color: #FFE7AB;
    width: 20vw;
    height: 50vh;
    display: flex;
    align-items: center;    
    justify-content: center;

}

#apple-pancakes {
    background-color: #ABEEFF;
    width: 20vw;
    height: 50vh;
    display: flex;
    align-items: center;    
    justify-content: center;

}

#meat {

    background-color: #FFD3AB;
    width: 20vw;
    height: 50vh;
    display: flex;
    align-items: center;    
    justify-content: center;

}

#spaghetti-mac-and-cheese {

    background-color: #87A3AA;
    width: 20vw;
    height: 50vh;
    display: flex;
    align-items: center;    
    justify-content: center;
    text-align: center;

}

.row-two {
       display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: lucinda console, monospace;

}

/* Make row-two items match the sizing and centering of row-one tiles */
.row-two a {
    width: 20vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: darkslategray;
}

#lemon-ice-cream {
    
    background-color: #A792AA;
    width: 20vw;
    height: 50vh;
    display: flex;
    align-items: center;    
    justify-content: center;

}

#white-cookies {

    background-color: #E0FFC1;
    width: 20vw;
    height: 50vh;
    display: flex;
    align-items: center;    
    justify-content: center;
}

#chilis-queso {

    background-color: #F39CFF;
    width: 20vw;
    height: 50vh;
    display: flex;
    align-items: center;    
    justify-content: center;
}

#candy {


    background-color: #9CFFAB;
    width: 20vw;
    height: 50vh;
    display: flex;
    align-items: center;    
    justify-content: center;
}

#deviled-eggs {


    background-color: #BD9CFF;
    width: 20vw;
    height: 50vh;
    display: flex;
    align-items: center;    
    justify-content: center;
}

#chili:hover,
#chicken-salad:hover,
#apple-pancakes:hover,
#meat:hover,
#spaghetti-mac-and-cheese:hover,
#lemon-ice-cream:hover,
#white-cookies:hover,
#chilis-queso:hover,
#candy:hover,
#deviled-eggs:hover {
    background-color: darkslategray;
}

a {
	color: darkslategray;
}

a:hover {
	color: whitesmoke;
}

@media screen and (max-width: 600px) {
    .row-one, .row-two {
        flex-direction: column;
        height: auto;
    }
    .row-one > a, .row-two > a {
        width: 100vw !important;
        height: auto;
        padding: 20px 0;
    }
}
